---

- name: Gather package facts
  ansible.builtin.package_facts:

- name: Uninstall maya packages
  become: true
  loop: "{{ maya_plugin_packages + ['Maya2025'] }}"
  when:
    - item != "MtoA"
    - (ansible_facts.packages.keys()
      | select('search', item, ignorecase=True)
      | list | length) > 0
  ansible.builtin.package:
    name: "{{ ansible_facts.packages.keys() | select('search', item, ignorecase=True) | list | first }}"
    state: "absent"

- name: Uninstall license manager packages
  become: true
  loop: "{{ maya_license_manager_packages | reverse }}"
  when:
    - (ansible_facts.packages.keys()
      | select('search', item, ignorecase=True)
      | list | length) > 0
  ansible.builtin.package:
    name: "{{ ansible_facts.packages.keys() | select('search', item, ignorecase=True) | list | first }}"
    state: "absent"

- name: Remove maya directory
  become: true
  loop:
    - "{{ maya_autodesk_dir }}"
    - "/opt/Autodesk"
  ansible.builtin.file:
    path: "{{ item }}"
    state: "absent"

- name: Remove maya user config
  become: true
  when: maya_include_user_config
  ansible.builtin.file:
    path: "{{ maya_user_config }}"
    state: "absent"

- name: Remove maya user venv
  become: true
  when: maya_pipeline_dev
  ansible.builtin.file:
    path: "{{ maya_venv_path }}"
    state: "absent"

...
