---

- name: Install licensing dependencies
  become: true
  when: adsk_licensing_dependency not in ansible_facts.packages
  loop: "{{ adsk_licensing_dependencies[ansible_facts.distribution | lower] | flatten(1) }}"
  loop_control:
    loop_var: adsk_licensing_dependency
  ansible.builtin.package:
    name: "{{ adsk_licensing_dependency }}"

- name: Install compat-openssl11 on fedora
  become: true
  when: ansible_facts.distribution | lower == "fedora"
  ansible.builtin.dnf:
    name: "https://repo.almalinux.org/almalinux/9.7/AppStream/x86_64/os/Packages/compat-openssl11-1.1.1k-5.el9_6.1.x86_64.rpm"
    state: present
    disable_gpg_check: true

# Note extract packages from install script
- name: Extract installation lines from script
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      grep -oE '"[^"]+\.rpm"' install.sh | tr -d '"'
    chdir: "{{ maya_tmp_package_path }}/{{ license_manager_package_sub_dir }}"
    executable: /bin/bash
  changed_when: false
  register: rpm_packages

# Note manual creation due to rpm pre-script preventing install on centosstream9
- name: Ensure adsklic group exists
  become: true
  ansible.builtin.group:
    name: adsklic
    system: true

- name: Ensure adsklic user exists
  become: true
  ansible.builtin.user:
    name: adsklic
    group: adsklic
    system: true
    home: /opt/Autodesk/AdskLicensing
    shell: /sbin/nologin
    create_home: false

- name: Install packages  # noqa: command-instead-of-module
  become: true
  loop: "{{ rpm_packages.stdout_lines }}"
  loop_control:
    loop_var: package
  # Note install flags required on fedora43
  ansible.builtin.command:
    cmd: rpm -i --noscripts --nodigest --nosignature {{ package }}
    chdir: "{{ maya_tmp_package_path }}/{{ license_manager_package_sub_dir }}"
    creates: "{{ license_manager_install_dir }}/{{ maya_license_manager_version }}/AdskLicensingService"
  register: license_manager_install_result
  # failed_when: '"installation failed." in license_manager_install_result.stderr'
  changed_when: license_manager_install_result.rc == 0

- name: Create symlink for AdskLicensingService
  become: true
  ansible.builtin.file:
    src: "{{ license_manager_install_dir }}/{{ maya_license_manager_version }}/AdskLicensingService/AdskLicensingService"
    dest: /usr/bin/AdskLicensingService
    state: link

- name: Place adsklicensing service in target directory
  become: true
  ansible.builtin.copy:
    src: "{{ license_manager_install_dir }}/{{ maya_license_manager_version }}/AdskLicensingService/adsklicensing.el7.service"
    dest: /usr/lib/systemd/system/adsklicensing.service
    mode: '0644'
    remote_src: true

- name: Set adsklicensing permissions and ownership
  become: true
  ansible.builtin.file:
    path: "/var/opt/Autodesk/AdskLicensingService"
    owner: adsklic
    group: adsklic
    mode: "0755"
    recurse: true

- name: Remove installer packages
  become: true
  ansible.builtin.file:
    path: "{{ maya_tmp_package_path }}/{{ sub_dir }}"
    state: "absent"

...
