---

- name: Install licensing dependencies
  become: true
  when: adsk_licensing_dependency not in ansible_facts.packages
  loop: "{{ adsk_licensing_dependencies[ansible_facts.distribution | lower] | flatten(1) }}"
  loop_control:
    loop_var: adsk_licensing_dependency
  ansible.builtin.package:
    name: "{{ adsk_licensing_dependency }}"

# Note dnf5 prevents module based installs from urls due NEVRA parsing error
- name: Install openssl11 on fedora usign almalinux9 repo
  become: true
  when: ansible_facts.distribution | lower == "fedora" and "compat-openssl11" not in ansible_facts.packages
  block:
    - name: Download compat-openssl11 RPM
      become: true
      ansible.builtin.get_url:
        url: "https://repo.almalinux.org/almalinux/9.7/AppStream/x86_64/os/Packages/compat-openssl11-1.1.1k-5.el9_6.1.x86_64.rpm"
        dest: "/tmp/compat-openssl11.rpm"
        mode: '0644'

    - name: Install compat-openssl11 RPM if not installed
      become: true
      ansible.builtin.command:
        cmd: "dnf install -y compat-openssl11.rpm"
        chdir: "/tmp"
      register: openssl_install_result
      changed_when: openssl_install_result.rc == 0

# Note extract packages from install script
- name: Extract installation lines from script
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      grep -oE '"[^"]+\.rpm"' install.sh | tr -d '"'
    chdir: "{{ maya_tmp_package_path }}/{{ license_manager_package_sub_dir }}"
    executable: /bin/bash
  changed_when: false
  register: rpm_packages

- name: Install packages  # noqa: command-instead-of-module
  become: true
  loop: "{{ rpm_packages.stdout_lines }}"
  loop_control:
    loop_var: package
  # Note install flags required on fedora43
  ansible.builtin.command:
    cmd: rpm -i --nodigest --nosignature {{ package }}
    chdir: "{{ maya_tmp_package_path }}/{{ license_manager_package_sub_dir }}"
    creates: "{{ license_manager_install_dir }}/{{ maya_license_manager_version }}/AdskLicensingService"
  register: license_manager_install_result
  # failed_when: '"installation failed." in license_manager_install_result.stderr'
  changed_when: license_manager_install_result.rc == 0

# TODO get this working too /usr/lib/systemd/system/adskaccessservicehost.service

- name: Remove installer packages
  become: true
  ansible.builtin.file:
    path: "{{ maya_tmp_package_path }}/{{ sub_dir }}"
    state: "absent"

...
