---

- name: Install licensing dependencies
  become: true
  when: adsk_licensing_dependency not in ansible_facts.packages
  loop: "{{ adsk_licensing_dependencies[ansible_distribution | lower] | flatten(1) }}"
  loop_control:
    loop_var: adsk_licensing_dependency
  ansible.builtin.package:
    name: "{{ adsk_licensing_dependency }}"

# INFO extract parts of the script to enable almalinux
- name: Extract installation lines from script
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      tac install.sh | sed -n '/^$/,$d;p' | tac
    chdir: "{{ maya_tmp_package_path }}/{{ license_manager_package_sub_dir }}"
    executable: /bin/bash
  changed_when: false
  register: install_commands

# INFO source function from script
- name: Run installer
  become: true
  ansible.builtin.shell:
    cmd: |
      source install.sh
      {{ install_commands.stdout }}
    chdir: "{{ maya_tmp_package_path }}/{{ license_manager_package_sub_dir }}"
    executable: /bin/bash
  register: licenese_manager_install_result
  failed_when: '"installation failed." in licenese_manager_install_result.stderr'
  changed_when: licenese_manager_install_result.rc == 0

- name: Remove installer packages
  become: true
  ansible.builtin.file:
    path: "{{ maya_tmp_package_path }}/{{ license_manager_package_sub_dir }}"
    state: "absent"

...
