---

- name: Create temporary installer dir
  become: true
  ansible.builtin.file:
    path: "{{ maya_tmp_package_path }}"
    state: "directory"
    owner: "root"
    group: "root"
    mode: "0755"

- name: "Check for extracted {{ installer_url | basename }}"
  ansible.builtin.stat:
    path: "{{ maya_tmp_package_path }}/{{ sub_dir }}"
  register: extracted_host

- name: Download installer
  become: true
  when: not extracted_host.stat.exists and not maya_controller_download
  ansible.builtin.get_url:
    url: "{{ installer_url }}"
    dest: "{{ maya_tmp_package_path }}"
    mode: "0755"
  register: maya_dowload_result
  retries: 3
  delay: 2
  until: maya_dowload_result is succeeded

- name: Run controller download
  when: not extracted_host.stat.exists and maya_controller_download
  block:
    - name: Create temporary installer dir
      ansible.builtin.file:
        path: "{{ maya_tmp_package_path }}"
        state: "directory"
        mode: "0755"
      delegate_to: localhost

    - name: "Check for existing installer {{ installer_url | basename }}"
      ansible.builtin.stat:
        path: "{{ maya_tmp_package_path }}/{{ installer_url | basename }}"
      delegate_to: localhost
      register: installer_controller

    - name: Download installer onto controller
      when: not installer_controller.stat.exists
      ansible.builtin.get_url:
        url: "{{ installer_url }}"
        dest: "{{ maya_tmp_package_path }}"
        mode: "0755"
        timeout: 300
      delegate_to: localhost

    - name: Copy installer to remote host
      become: true
      ansible.builtin.copy:
        src: "{{ maya_tmp_package_path }}/{{ installer_url | basename }}"
        dest: "{{ maya_tmp_package_path }}"
        mode: "0755"

- name: Install unarchive module dependency
  become: true
  ansible.builtin.package:
    name:
      - "tar"
      - "unzip"
    state: present

- name: "Extract installer {{ installer_url | basename }}"
  become: true
  ansible.builtin.unarchive:
    src: "{{ maya_tmp_package_path }}/{{ installer_url | basename }}"
    dest: "{{ maya_tmp_package_path }}"
    remote_src: true
    owner: "root"
    group: "root"
    mode: "0755"
    creates: "{{ maya_tmp_package_path }}/{{ sub_dir }}"
  register: unarchive_result
  until: unarchive_result is succeeded
  retries: 3
  delay: 3

- name: Remove installer file
  become: true
  ansible.builtin.file:
    path: "{{ maya_tmp_package_path }}/{{ installer_url | basename }}"
    state: "absent"

...
