---

- name: Install dependencies
  become: true
  when: maya_dependency not in ansible_facts.packages
  loop: "{{ maya_dependencies[maya_version] | flatten(1) }}"
  loop_control:
    loop_var: maya_dependency
  ansible.builtin.package:
    name: "{{ maya_dependency }}"
    state: "present"

- name: Get packages from xml
  community.general.xml:
    path: "{{ maya_tmp_package_path }}/{{ maya_package_sub_dir }}/pkg.maya.xml"
    xpath: "/_:Package/_:Configuration/_:InstallFile"
    content: attribute
    namespaces:
      _: "{{ maya_xml_namespace }}"
  register: xml_result

- name: Get package attributes from xml results
  ansible.builtin.set_fact:
    maya_package_map: "{{ xml_result.matches[0]['{' ~ xml_result.actions.namespaces._ ~ '}InstallFile'] }}"

# Note dnf5 prevents module based installs from urls due NEVRA parsing error
- name: Install maya package
  become: true
  when: maya_package_name not in ansible_facts.packages
  ansible.builtin.command:
    cmd: "dnf install -y {{ maya_package_map.file }}"
    chdir: "{{ maya_tmp_package_path }}"
  register: maya_install_result
  changed_when: maya_install_result.rc == 0

# Note required for headless usage
- name: Symlink libffi version 6
  when: ansible_facts.os_family | lower == "redhat"
  become: true
  ansible.builtin.file:
    src: /usr/lib64/libffi.so.8
    dest: /usr/lib64/libffi.so.6
    state: link

- name: Symlink libtiff version 6
  when: ansible_facts.distribution | lower == "fedora"
  become: true
  ansible.builtin.file:
    src: /usr/lib64/libtiff.so.6
    dest: /usr/lib64/libtiff.so.5
    state: link

- name: Remove maya installer packages
  become: true
  ansible.builtin.file:
    path: "{{ maya_tmp_package_path }}/{{ sub_dir }}/{{ maya_package_map.file }}"
    state: "absent"

...
