---

- name: "Get xml attributes for {{ maya_plugin_package }}"
  community.general.xml:
    path: "{{ maya_tmp_package_path }}/{{ maya_package_sub_dir }}/pkg.{{ maya_plugin_package | lower }}.xml"
    xpath: "/_:Package/_:Configuration/_:InstallFile"
    content: attribute
    namespaces:
      _: "{{ maya_xml_namespace }}"
  register: xml_result

- name: Get package attributes from xml results
  ansible.builtin.set_fact:
    maya_package_attr: "{{ xml_result.matches[0]['{' ~ xml_result.actions.namespaces._ ~ '}InstallFile'] }}"

# Warning arnold seems to write into user home
# /home/ansible/maya/RSTemplates/
- name: "Install maya plugin package {{ maya_plugin_package }}"
  become: true
  ansible.builtin.command:
    cmd: >-
      {{
        maya_install_cmds[maya_package_attr.type]
        ~ (maya_package_attr.type == 'RPM' and ' ' ~ (maya_package_attr.installParams | default('')) or '')
        ~ ' '
        ~ maya_package_attr.file
      }}
    chdir: "{{ maya_tmp_package_path }}"
    creates: "{{ maya_modules_dir }}/{{ maya_plugin_package | lower }}.mod"
  register: plugin_install_result

# Note renaming `.mod` for streamlining only
# Doesn't seem to interfere with functionality
- name: Rename Substance module
  when: 'maya_plugin_package == "Substance" and plugin_install_result.changed'
  block:
    - name: Rename substance module file
      become: true
      ansible.builtin.copy:
        remote_src: true
        src: "{{ maya_modules_dir }}/substance2.mod"
        dest: "{{ maya_modules_dir }}/substance.mod"
        mode: "0755"

    - name: Remove old substance module file
      become: true
      ansible.builtin.file:
        path: "{{ maya_modules_dir }}/substance2.mod"
        state: absent

...
