---

- name: Gather package facts
  ansible.builtin.package_facts:

- name: Handle license installer
  when: license_manager
  block:
    - name: Populate service facts
      ansible.builtin.service_facts:

    - name: Get adsklicensing status
      when: ansible_facts.services['adsklicensing.service'] is defined
      ansible.builtin.set_fact:
        adsk_licensing_status: "{{ ansible_facts.services['adsklicensing.service'].status }}"

    - name: Set up license manager
      when: adsk_licensing_status is not defined or adsk_licensing_status != "enabled"
      block:
        - name: Set installer
          ansible.builtin.set_fact:
            installer_url: "{{ license_manager_installer_url }}"
            sub_dir: "{{ license_manager_package_sub_dir }}"

        - name: Get installer
          ansible.builtin.include_tasks:
            file: get_setup.yml

        - name: Include license manager install
          ansible.builtin.include_tasks:
            file: adsk_licensing_install.yml

    - name: Enable and start adsklicensing service
      when: license_manager
      become: true
      ansible.builtin.systemd:
        name: adsklicensing.service
        enabled: true
        state: started
        daemon_reload: true

- name: Install task dependencies
  become: true
  loop: "{{ task_dependencies }}"
  ansible.builtin.package:
    name: "{{ item }}"
    state: "present"

- name: Handle Maya install
  when: maya_package_name not in ansible_facts.packages
  block:
    - name: Set installer
      ansible.builtin.set_fact:
        installer_url: "{{ maya_installer_url }}"
        sub_dir: "{{ maya_package_sub_dir }}"

    - name: Get installer
      ansible.builtin.include_tasks:
        file: get_setup.yml

    - name: Include maya install
      ansible.builtin.include_tasks:
        file: maya_install.yml

- name: Find existing maya modules
  ansible.builtin.find:
    path: "{{ maya_modules_dir }}"
  register: maya_modules_result

- name: Extract file paths
  ansible.builtin.set_fact:
    maya_module_files: "{{ maya_modules_result.files | map(attribute='path') | map('basename') | list }}"

- name: Include maya plugin install
  when: (maya_plugin_package | lower ~ '.mod') not in maya_module_files
  loop: "{{ maya_plugin_packages }}"
  loop_control:
    loop_var: maya_plugin_package
  ansible.builtin.include_tasks:
    file: maya_plugins_install.yml

- name: Remove installer packages
  become: true
  ansible.builtin.file:
    path: "{{ maya_tmp_package_path | dirname }}"
    state: "absent"

# Note maya warning on startup if this dir isn't present
- name: Create CER dir
  become: true
  ansible.builtin.file:
    path: /var/lib/Autodesk/CER
    state: directory
    mode: "0755"

- name: Remove asset libs
  become: true
  when: maya_remove_asset_libs
  loop: "{{ maya_asset_libs }}"
  ansible.builtin.file:
    path: "{{ item }}"
    state: "absent"

...
