---

- name: Gather package facts
  ansible.builtin.package_facts:

- name: Gather service facts
  ansible.builtin.service_facts:

- name: Valdiate license manager setup
  when: license_manager
  block:
    - name: Test adsklicensing service
      ansible.builtin.assert:
        that:
          - ansible_facts.services['adsklicensing.service'] is defined
          - ansible_facts.services['adsklicensing.service'].status == "enabled"
          - ansible_facts.services['adsklicensing.service'].state == "running"
        fail_msg: >-
          adsklicensing.service does not run as expected
          status={{ ansible_facts.services['adsklicensing.service'].status | default('missing') }}
          state={{ ansible_facts.services['adsklicensing.service'].state | default('missing') }}
        quiet: true

    - name: Get license manager installer path
      ansible.builtin.stat:
        path: "{{ maya_tmp_package_path }}/{{ license_manager_package_sub_dir }}"
      register: adsklicensing_installer_path

    - name: Test absent license manager installer path
      ansible.builtin.assert:
        that:
          - not adsklicensing_installer_path.stat.exists
        fail_msg: "Temporary adsklicensing installer path still exsits: '{{ maya_tmp_package_path }}/{{ license_manager_package_sub_dir }}'"
        quiet: true

- name: Get maya installer path
  ansible.builtin.stat:
    path: "{{ maya_tmp_package_path }}/{{ maya_package_sub_dir }}"
  register: maya_installer_path

- name: Test absent maya installer path
  ansible.builtin.assert:
    that:
      - not maya_installer_path.stat.exists
    fail_msg: "Temporary maya installer path still exsits: '{{ maya_tmp_package_path }}/{{ maya_package_sub_dir }}'"
    quiet: true

- name: Test installed packages
  when: item != "MtoA"
  loop: "{{ maya_plugin_packages + [maya_package_name] }}"
  ansible.builtin.assert:
    that:
      - (ansible_facts.packages.keys() | select('search', item, ignorecase=True) | list | length) > 0
    fail_msg: "Failed to find package for '{{ item }}'"
    quiet: true

- name: Run Maya executable
  ansible.builtin.command:
    cmd: "maya -v"
  changed_when: false
  register: maya_output

- name: Test maya output
  ansible.builtin.assert:
    that:
      - '"Maya " ~ maya_version_major in maya_output.stdout'
    fail_msg: "Failed to start maya"
    quiet: true

- name: Find existing maya modules
  ansible.builtin.find:
    path: "{{ maya_modules_dir }}"
  register: maya_modules_result

- name: Extract file paths
  ansible.builtin.set_fact:
    maya_module_files: "{{ maya_modules_result.files | map(attribute='path') | map('basename') | list }}"

- name: Test installed maya modules
  loop: "{{ maya_plugin_packages }}"
  ansible.builtin.assert:
    that:
      - (item | lower ~ '.mod') in maya_module_files
    fail_msg: "Failed to find module file for '{{ (item | lower ~ '.mod') }}'"
    quiet: true

...
